@page
@using Hugin.BookStore.Localization
@using Microsoft.Extensions.Localization
@model Hugin.BookStoreWeb.Web.Pages.IndexModel
@inject IStringLocalizer<BookStoreResource> L
@{
}
<h1>Sample</h1>
<p>@L["SamplePageMessage"]</p>
